.teamPeoples{
    columns: 2;
    border-radius: 10px;
    background: blue;
    column-fill: balance;
    column-rule: 2px solid black;
    display: inline;
  }
  
  .teamPeoples h2{
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
  }

  .teamNP{
    align-items: left;
    column-width: 25%;
  }

  .bio{
    text-align: right;
  }

  #NP {
    padding: 2rem 2rem;
    text-align: center;
  }
  #bio {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
  }
